@page "/login"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-center">
    <div>
        <AuthorizeView>

            @* Если пользователь не авторизован, то вывести форму *@
            <NotAuthorized Context="Auth">
                <h3>Авторизация</h3>
                <EditForm Model="user" OnSubmit="HandleLogin">
                    <p/>Имя пользователя:
                    <br/><InputText @bind-Value="user.UserName" />
                    <p/>Пароль:
                    <br/><InputText @bind-Value="user.Password" type="password" />
                    <p/><button type="submit">Вход</button>
                    <span class="text-danger">@errorMessage</span>
                    <p/>Нет учетной записи? <a href="/register">Зарегистрируйтесь</a>
                </EditForm>
            </NotAuthorized>

            @* Если пользователь авторизован, то вывести токен и предложить перейти в чат *@
            <Authorized>
                <div>
                    <p/>Вот ваш токен авторизации.
                    <p/>Вы можете использовать его для доступа к сервисам без ввода пароля:
                    <p/><textarea cols="40" rows="10">@tok</textarea>
                    <p/><a href="/">Перейти в чат</a>
                </div>
            </Authorized>

        </AuthorizeView>
    </div>
</div>

@code {
    // Поля формы
    UserLogin user = new UserLogin();

    string errorMessage = string.Empty;

    string tok = string.Empty;

    // Действие при нажатии кнопки "Вход"
    async Task HandleLogin()
    {
        // Попробуем авторизоваться и получить токен
        var result = await Http.PostAsJsonAsync("api/auth", user);

        var token = await result.Content.ReadAsStringAsync();

        // Сохраним токен
        await LocalStorage.SetItemAsync("token", token);

        // Обновим состояние авторизации
        var state = await AuthStateProvider.GetAuthenticationStateAsync();

        tok = token;

        if ((token is null) || !((AuthStateProvider as CustomAuthStateProvider)?.IsTokenValid(token) ?? false))
        {
            errorMessage = "Не удалось авторизоваться";
            return;
        }

        errorMessage = string.Empty;

        // Если нужно в случае успешной авторизации сразу перейти
        // на основную страницу, раскомментируйте следующую строку:
        // NavigationManager.NavigateTo("/");
    }
}
